* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-accordion {
  width: 500px;
  padding: 20px;
  background: #00000057;
}

/* .content {
    display: none;
} */
